@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Cafeteria Kwai</title>
	<link rel="shortcut icon" href="~/images/logo/iconeCafeKwaiComFundo.jpg" type="image/x-icon">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CafeComSeuTioAdmin.styles.css" asp-append-version="true" />

	<environment names="Development">
		<link ref="stylesheet" href="~\lib\bootstrap\dist\css\bootstrap.css"
	</environment>
	<environment names="Production">
		<link ref="stylesheet" href="~\lib\bootstrap\dist\css\bootstrap.min.css"
	</environment>
</head>
<body>
	<div>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="navBar">
					<a aria-current="page" asp-page="/Index"><img src="~/images/logo/logoCafeKwaiBrancoReduzido.png" id="logoTop" /></a>
					<div class="searchDiv">
						<input id="inputSearch" type="text" placeholder="Pesquisar um produto" />
						<button onclick="searchProduct()">
							<img src="~/images/iconsAction/lupa.png" alt="lupa" />
						</button>
					</div>
					<div class="functionsNav">
						<div class="accountLogin">
							@if (SignInManager.IsSignedIn(User))
							{
								<a asp-page="/Identity/Pages/Account/AccountInfo">
									<img src="~/images/interface/profileAccountImage.png" alt="profile account" />
									<span>Olá, @SignInManager.Context.User.Identity.Name !</span>
								</a>
							}
							else
							{
								<a asp-page="/Identity/Pages/Account/Login">
									<img src="~/images/interface/profileAccountImage.png" alt="profile account" />
									<span>Login</span>
								</a>
							}
						</div>
						<a>
							<img src="~/images/iconsAction/carrinhoDeCompras.png" alt="carrinho de compras" />
							@if (SignInManager.IsSignedIn(User))
							{
								<span class="productsInCart">(0)</span>
							}
						</a>
					</div>
			</nav>
			<nav class="subNavBar">
				<ul class="navbar-nav navCategory">
					<li class="nav-item dropdown centralizer navSubCategoryHover">
						<a class="navCategoryLink" role="button" aria-expanded="false" asp-page="ProductCategory" asp-route-category="Drink">
							BEBIDAS
						</a>
						<ul class="navSubCategoryBox" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/ViewAllProducts">CAFÉS</a></li>
							<hr />
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/AddProduct">CAPUCCINOS</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown centralizer navSubCategoryHover">
						<a class="navCategoryLink" role="button" aria-expanded="false" asp-page="ProductCategory" asp-route-category="Dessert">
							SOBREMESAS
						</a>
						<ul class="navSubCategoryBox" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/ViewAllProducts">CUPCAKES</a></li>
							<hr />
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/AddProduct">TORTAS</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown centralizer navSubCategoryHover">
						<a class="navCategoryLink" role="button" aria-expanded="false" asp-page="ProductCategory" asp-route-category="Savory">
							SALGADOS
						</a>
						<ul class="navSubCategoryBox" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/ViewAllProducts">FORNOS</a></li>
							<hr />
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/AddProduct">FRITOS</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown centralizer navSubCategoryHover">
						<a class="navCategoryLink" role="button" aria-expanded="false" asp-page="ProductCategory" asp-route-category="Kit">
							KITS
						</a>
						<ul class="navSubCategoryBox" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/ViewAllProducts">PACOTES</a></li>
							<hr />
							<li><a class="dropdown-item navSubCategoryLink" aria-expanded="false" asp-page="/Products/AddProduct">GRÃOS</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown centralizer">
						<a class="navCategoryLink" role="button" aria-expanded="false" asp-page="ProductOthers">
							OUTROS
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			@RenderBody()
		</main>
		<footer>
			<div class="row">
				<div class="col-md-4">
					<p>&copy; 2025 - Cafeteria Kwai</p>
					<img id="logo" src="~/images/logo/logoCafeKwaiBranco.png" />
				</div>
				<div class="col-md-4">
					<p>2345678 Cafeteria Kwai</p>
					<p>Rio de Janeiro - Centro</p>
					<p>Phone: +55 (21)983290777</p>
				</div>
				<div class="col-md-4">
					<div class="footer-pic">
						@{
							var urlPath = Context.Request.Path;
						}
						@switch (urlPath)
						{
							case "/":
								<img src="https://i.gifer.com/UEl2.gif" />
								break;
							case "/Products/AddProduct":
								<img src="https://www.mexidodeideias.com.br/?attachment_id=29991" />
								break;
							case "/Products/ViewAllProducts":
								<img src="https://i.pinimg.com/originals/be/e6/df/bee6dfb0b3cff75482d437fbcfcfc7c2.gif" />
								break;
						}
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<partial name="_ValidationScriptsPartial" />

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
