body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #f4a460;
    border-radius: 20px;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #361F10;
}

    .header img {
        height: 80%;
    }

.welcomeMensage {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
}

    .welcomeMensage img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 3px solid #ffffff;
    }

    .welcomeMensage hr {
        height: 100px;
        width: 4px;
        color: white;
        opacity: 1;
        justify-self: center;
    }

.divPrincipal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color: #361F10;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0px;
}

.titleMenu {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffff;
    background-color: #CC9A66;
    font-weight: bold;
    font-size: 24px;
}

    .titleMenu img {
        width: 50px;
        height: 50px;
    }

.menu form {
    width: 100%;
    height: 80px;
}

.titleSection {
    list-style: none;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
    font-size: 18px;
    background-color: #501F00;
    font-weight: bold;
    cursor: pointer;
}

    .titleSection:hover {
        transform-box: border-box;
        background-color: #AD641A;
        border-top: solid 2px #ffffff;
        border-bottom: solid 2px #ffffff;
    }

    .titleSection img {
        width: 40px;
        height: 40px;
    }

.botaoExit {
    border: none;
    background-color: #740606;
}

.active {
    background-color: #AD641A;
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .profile hr {
        width: 85%;
        height: 3px;
        color: #501F00;
        opacity: 1;
        justify-self: center;
    }

.principalUsuarioInfo {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 50px;
    padding-left: 10%;
}

.divImagemUsuario {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .divImagemUsuario img {
        width: 120px;
        height: 120px;
        border-radius: 100px;
        border: 3px solid #ffffff;
        margin-bottom: 20px;
    }

    .divImagemUsuario span {
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
    }

.buttonSelectImagemUsuario {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: 2px solid white;
    border-radius: 100%;
    background-color: #535251;
    cursor: pointer;
    position: absolute;
    margin-bottom: -50px;
    margin-right: -60px;
}

    .buttonSelectImagemUsuario img {
        width: 30px;
        height: 30px;
        margin: 0px;
        border-radius: 0px;
        border: none;
    }

    .buttonSelectImagemUsuario:hover .divImagemUsuario img {
        border: 10px solid #FFB568;
        display: none;
    }

    .divNomeUsuario {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divNomeUsuario label {
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .divNomeUsuario input {
        border: none;
        width: 100%;
        height: 50px;
        background-color: #7B3911;
        border-radius: 10px;
        border-bottom: 8px solid #3A1E01;
        padding-left: 10px;
        font-size: 26px;
        color: #CC9A66;
        margin-bottom: 10px;
    }

.divInput {
    display: flex;
    flex-direction: column;
}

.spanLogin {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputLogin {
    border: none;
    width: 100%;
    height: 50px;
    background-color: #7B3911;
    border-radius: 10px;
    border-bottom: 8px solid #3A1E01;
    padding-left: 10px;
    font-size: 18px;
    color: #CC9A66;
    margin-bottom: 10px;
}

#containerSelectUserImage {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5a3b24a1;
    display: none;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    transform-box: border-box;
    text-align: left;
}

    #containerSelectUserImage label {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 550;
        color: white;
    }

    #containerSelectUserImage input {
        border: none;
        height: 40px;
        background-color: #471b00;
        border-radius: 10px;
        border-bottom: 8px solid #cc9a66;
        padding-left: 10px;
        font-size: 16px;
        color: #cc9a66;
        margin-bottom: 10px;
        align-content: center;
        cursor: pointer;
    }

        #containerSelectUserImage input::file-selector-button {
            display: none;
        }

.selectUserImageWindow {
    height: fit-content;
    width: fit-content;
    max-width: 600px;
    background-color: #805734;
    border-radius: 15px;
    border: 2px solid #ffb568;
    justify-content: space-around;
}

.selectUserImageWindowTop {
    padding-inline: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #361f10;
    border-bottom: 2px solid #ffb568;
    color: white;
}

    .selectUserImageWindowTop span {
        font-size: 16px;
        font-weight: bold;
    }

    .selectUserImageWindowTop button {
        border: none;
        background: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

.selectUserImageWindowPrincipal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divSelectUserImage {
    display: flex;
    flex-direction: column;
}

.selectUserImageButton {
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    place-self: anchor-center;
    background-color: #f4a460;
    border: none;
    border: solid 3px #471b00;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    transform-box: content-box;
}

#previaImagemSelecionada {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.divInformacoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divContato {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.divEnderecos {
    text-align: center;
}

.adressAccountDiv {
    height: 90%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #bf9263;
    border-radius: 15px;
    color: white;
}

    .adressAccountDiv hr {
        width: 85%;
        margin: 5px;
        height: 3px;
        background-color: #471b00;
        opacity: 1;
        justify-self: center;
    }

.adressesAccount {
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 5px;
    align-items: center;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

    .adressesAccount::-webkit-scrollbar {
        width: 5px;
    }

    .adressesAccount::-webkit-scrollbar-button {
        display: none;
    }

    .adressesAccount::-webkit-scrollbar-track {
        background: none;
    }

    .adressesAccount::-webkit-scrollbar-thumb {
        background-color: #3a1e01da;
        border-radius: 20px;
    }

.adressAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #7b3911;
    padding: 5px;
}

.adressAccountSeeMoreButonn {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    color: #CC9A66;
    font-weight: bold;
}

.adressAccount h1 {
    margin: 0;
    font-size: 18px;
}

.adressAccount hr {
    width: 85%;
    height: 1px;
    background-color: #ffffff;
    opacity: 1;
    justify-self: center;
}

.addAdressAccountButton {
    width: 60%;
    padding: 10px;
    place-self: anchor-center;
    background-color: #471b00;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    transform-box: content-box;
}

.adressAccountInfoContainer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5a3b24a1;
    display: none;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    transform-box: border-box;
}

.adressAccountInfoWindow {
    color: white;
    height: fit-content;
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #7b3911;
    border-radius: 15px;
    border: 2px solid #cc9a66;
}

.adressAccountInfoWindow {
    height: fit-content;
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background-color: #7b3911;
    border-radius: 15px;
    border: 2px solid #cc9a66;
    color: white;
}

    .adressAccountInfoWindow h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        font-size: 30px;
        color: #e5c5a2;
    }

    .adressAccountInfoWindow p {
        padding-left: 20px;
        text-align: left;
        font-size: 18px;
        margin: 0;
    }

    .adressAccountInfoWindow span {
        font-size: 20px;
        color: #e5c5a2;
        margin: 0;
    }

    .adressAccountInfoWindow hr {
        width: 100%;
        height: 2px;
        align-self: anchor-center;
        background-color: white;
        opacity: 1;
        justify-self: center;
    }

.adressAccountInfoButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.adressAccountInfoButtons button {
    min-width: 100px;
    width: 30%;
    padding: 10px;
    padding-inline: 15px;
    margin-top: 10px;
    place-self: anchor-center;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.closeAdressInfoButton {
    background-color: #AD641A;
}

.deleteAdressButton {
    background-color: #740606;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#adressContainer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5a3b24a1;
    display: none;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    transform-box: border-box;
    text-align: left;
}

    #adressContainer label {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 550;
        color: white;
    }

    #adressContainer input {
        border: none;
        height: 40px;
        background-color: #471b00;
        border-radius: 10px;
        border-bottom: 8px solid #cc9a66;
        padding-left: 10px;
        font-size: 16px;
        color: #cc9a66;
        margin-bottom: 10px;
    }

    #adressContainer textarea {
        resize: none;
        border: none;
        width: 100%;
        height: 100px;
        background-color: #471b00;
        border-radius: 10px;
        border-bottom: 8px solid #cc9a66;
        padding: 10px;
        font-size: 18px;
        color: #cc9a66;
        margin-bottom: 10px;
    }

        #adressContainer textarea::-webkit-scrollbar {
            width: 5px;
        }

        #adressContainer textarea::-webkit-scrollbar-button {
            display: none;
        }

        #adressContainer textarea::-webkit-scrollbar-track {
            background: none;
        }

        #adressContainer textarea::-webkit-scrollbar-thumb {
            background-color: #f4a460;
            border-radius: 20px;
        }

.adressWindow {
    height: fit-content;
    width: 60%;
    max-width: 600px;
    background-color: #805734;
    border-radius: 15px;
    border: 2px solid #ffb568;
    justify-content: space-around;
}

.adressWindowTop {
    padding-inline: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #361f10;
    border-bottom: 2px solid #ffb568;
    color: white;
}

    .adressWindowTop span {
        font-size: 16px;
        font-weight: bold;
    }

    .adressWindowTop button {
        border: none;
        background: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

.adressWindowPrincipal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divRowInput {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divAdressName {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.divAdressCEP {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.divAdressState {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.divAdressCity {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.divAdressStreet {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.divAdressNumber {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.divAdressComplement {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.newAdressButton {
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    place-self: anchor-center;
    background-color: #f4a460;
    border: none;
    border: solid 3px #471b00;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    transform-box: content-box;
}

    .newAdressButton:hover {
        background-color: #72340e;
        border: solid 3px #471b00;
        color: #f4a460;
    }

.botaoEdit {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    place-self: anchor-center;
    background-color: #f4a460;
    border: none;
    border: solid 3px #471B00;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    transform-box: content-box;
}

    .botaoEdit:hover {
        background-color: #72340E;
        border: solid 3px #471B00;
        color: #f4a460;
    }

.order {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.topSection {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding-left: 10%;
}

    .topSection img {
        width: 70px;
        height: 70px;
    }

    .topSection span {
        font-size: 28px;
        color: #ffffff;
        font-weight: bold;
    }

.order hr {
    width: 85%;
    height: 3px;
    color: #501F00;
    opacity: 1;
    justify-self: center;
}

.tabelaPedidos {
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: left;
    border-collapse: collapse;
}

    .tabelaPedidos tr {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        justify-content: space-around;
        border-collapse: collapse;
        border-radius: 15px;
    }

    .tabelaPedidos tr th {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 20%;
    }

    .tabelaPedidos thead {
        width: 100%;
        height: 20%;
        align-content: center;
    }

        .tabelaPedidos thead tr {
            padding: 10px;
            background-color: #AD641A;
            font-weight: bold;
            color: #501F00;
        }

    .tabelaPedidos tbody {
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        gap: 5px;
        width: 100%;
        height: 80%;
        border-collapse: collapse;
        overflow-x: auto;
    }

.tabelaPedidos tbody::-webkit-scrollbar-track {
    background: #7B3911;
}

.tabelaPedidos tbody::-webkit-scrollbar-thumb {
    background-color: #CC9A66;
    border-radius: 20px;
}

        .tabelaPedidos tbody tr {
            font-size: 16px;
            height: 90px;
            background-color: #361F10;
            color: #FFB568;
        }

        .tabelaPedidos tbody tr:hover {
            background-color: #501F00;
        }

.favorite {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .favorite hr {
        width: 85%;
        height: 3px;
        color: #501F00;
        opacity: 1;
        justify-self: center;
    }

.products {
    width: 90%;
    height: 65%;
    overflow-y: auto;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    place-self: center;
    place-items: anchor-center;
    gap: 20px;
    min-height: 60vh;
}

.avaliation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .avaliation hr {
        width: 85%;
        height: 3px;
        color: #501F00;
        opacity: 1;
        justify-self: center;
    }

.avaliations {
    width: 90%;
    height: 65%;
    overflow-y: auto;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    place-items: anchor-center;
    gap: 20px;
    min-height: 60vh;
}

.divAvaliation {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    border-radius: 15px;
    background-color: #501F00;
    font-weight: bold;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}

    .divAvaliation:hover {
        border: solid 2px #ffffff;
    }

    .divAvaliation h2 {
        margin: 0px;
        font-size: 20px;
        color: #ffffff;
    }

.avaliationTop {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.avaliationTop h1 {
    margin: 0px;
    font-size: 30px;
    color: #FFB568;
}

    .avaliationTop img {
        width: 40px;
        height: 40px;
    }

    .stars {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

.stars img {
    width: 30px;
}

.information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .information hr {
        width: 85%;
        height: 3px;
        color: #501F00;
        opacity: 1;
        justify-self: center;
    }

.informations {
    width: 90%;
    height: 65%;
    overflow-y: auto;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    place-items: anchor-center;
    gap: 50px;
}

.divInformation {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 300;
    color: #ffffff;
}

.topInformation {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 20px;
}

    .topInformation h2 {
        margin: 0px;
        font-size: 34px;
        color: #ffffff;
    }

.divInformation ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.divInformation ul li {
    font-size: 20px;
}

    .divInformation span {
        font-size: 20px;
    }