.header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #361F10;
}

    .header img {
        height: 80%;
    }

.welcomeMensage {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
}

    .welcomeMensage img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 3px solid #ffffff;
    }

    .welcomeMensage hr {
        height: 100px;
        width: 4px;
        color: white;
        opacity: 1;
        justify-self: center;
    }

.divPrincipal {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color: #361F10;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0px;
}

.titleMenu {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffff;
    background-color: #CC9A66;
    font-weight: bold;
    font-size: 24px;
}

    .titleMenu img {
        width: 50px;
        height: 50px;
    }

.titleSection {
    list-style: none;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
    font-size: 18px;
    background-color: #501F00;
    font-weight: bold;
    cursor: pointer;
}

    .titleSection:hover {
        transform-box: border-box;
        background-color: #AD641A;
        border-top: solid 2px #ffffff;
        border-bottom: solid 2px #ffffff;
    }

    .titleSection img {
        width: 40px;
        height: 40px;
    }

.active {
    background-color: #AD641A;
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .profile hr {
        width: 85%;
        height: 3px;
        color: #501F00;
        opacity: 1;
        justify-self: center;
    }

.principalUsuarioInfo {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 50px;
    padding-left: 10%;
}

.divImagemUsuario {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .divImagemUsuario img {
        width: 120px;
        height: 120px;
        border-radius: 100px;
        border: 3px solid #ffffff;
        margin-bottom: 10px;
    }

    .divImagemUsuario span {
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
    }

.divNomeUsuario {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

    .divNomeUsuario label {
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .divNomeUsuario input {
        border: none;
        width: 100%;
        height: 50px;
        background-color: #7B3911;
        border-radius: 10px;
        border-bottom: 8px solid #3A1E01;
        padding-left: 10px;
        font-size: 26px;
        color: #CC9A66;
        margin-bottom: 10px;
    }

.divInput {
    display: flex;
    flex-direction: column;
}

.spanLogin {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputLogin {
    border: none;
    width: 100%;
    height: 50px;
    background-color: #7B3911;
    border-radius: 10px;
    border-bottom: 8px solid #3A1E01;
    padding-left: 10px;
    font-size: 18px;
    color: #CC9A66;
    margin-bottom: 10px;
}

.divInformacoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divContato {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.divEndereco {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.divRua {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rua {
    width: 60%;
}

.numero {
    width: 30%;
}
.botaoEdit {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    place-self: anchor-center;
    background-color: #f4a460;
    border: none;
    border: solid 3px #471B00;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    transform-box: content-box;
}

    .botaoEdit:hover {
        background-color: #72340E;
        border: solid 3px #471B00;
        color: #f4a460;
    }

.order {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.topSection {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding-left: 10%;
}

    .topSection img {
        width: 70px;
        height: 70px;
    }

    .topSection span {
        font-size: 28px;
        color: #ffffff;
        font-weight: bold;
    }

.order hr {
    width: 85%;
    height: 3px;
    color: #501F00;
    opacity: 1;
    justify-self: center;
}

.tabelaPedidos {
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: left;
    border-collapse: collapse;
}

    .tabelaPedidos tr {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        justify-content: space-around;
        border-collapse: collapse;
        border-radius: 15px;
    }

    .tabelaPedidos tr th {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 20%;
    }

    .tabelaPedidos thead {
        width: 100%;
        height: 20%;
        align-content: center;
    }

        .tabelaPedidos thead tr {
            padding: 10px;
            background-color: #AD641A;
            font-weight: bold;
            color: #501F00;
        }

    .tabelaPedidos tbody {
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        gap: 5px;
        width: 100%;
        height: 80%;
        border-collapse: collapse;
        overflow-x: auto;
    }

.tabelaPedidos tbody::-webkit-scrollbar-track {
    background: #7B3911;
}

.tabelaPedidos tbody::-webkit-scrollbar-thumb {
    background-color: #CC9A66;
    border-radius: 20px;
}

        .tabelaPedidos tbody tr {
            font-size: 16px;
            height: 90px;
            background-color: #361F10;
            color: #FFB568;
        }

        .tabelaPedidos tbody tr:hover {
            background-color: #501F00;
        }

.products {
    width: 90%;
    height: 65%;
    overflow-y: auto;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    place-self: center;
    place-items: anchor-center;
    gap: 20px;
    min-height: 60vh;
}

.avaliation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .avaliation hr {
        width: 85%;
        height: 3px;
        color: #501F00;
        opacity: 1;
        justify-self: center;
    }

.avaliations {
    width: 90%;
    height: 65%;
    overflow-y: auto;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    place-items: anchor-center;
    gap: 20px;
    min-height: 60vh;
}

.divAvaliation {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    border-radius: 15px;
    background-color: #501F00;
    font-weight: bold;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}

    .divAvaliation:hover {
        border: solid 2px #ffffff;
    }

    .divAvaliation h2 {
        margin: 0px;
        font-size: 20px;
        color: #ffffff;
    }

.avaliationTop {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.avaliationTop h1 {
    margin: 0px;
    font-size: 30px;
    color: #FFB568;
}

    .avaliationTop img {
        width: 40px;
        height: 40px;
    }

    .stars {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

.stars img {
    width: 30px;
}