section {
    height: 100vh;
    width: 100%;
}

.slider {
    margin: 0;
    width: 100%;
    height: 75vh;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

    .slider-content input, .img-mobile {
        display: none;
    }

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

    .slide-box img {
        width: 100%;
    }

.nav-manual, .nav-auto {
    position: absolute;
    width: 80%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

    .nav-manual .manual-btn, .nav-auto div {
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s;
    }

        .nav-manual .manual-btn::after hover {
            background-color: #805734;
        }

input[type="radio"] {
    display: none;
}

/*input[type="radio"]:not(:checked) + .manual-btn img {
        content: url("../images/download.gif");*/
/*content: url(../images/cats/xicaraVazia.png);*/
/*}

    input[type="radio"]:checked + .manual-btn img {
        content: url("../images/download.gif");
        border-color: #007bff;
    }*/

.manual-btn img {
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    transition: 0.3s;
    border: 3px solid transparent;
}

/*#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #805734;
}*/

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .segundo {
    margin-left: -25%;
}

#radio3:checked ~ .terceiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}

#Sobre {
    background-color: #805734;
    display: flex;
    flex-direction: row;
    align-items: center
}

    #Sobre img {
        width: 40%;
    }

    #Sobre div {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

        #Sobre div img {
            width: 200px;
        }

    #Sobre p {
        font-size: 26px;
        color: #D9D9D9;
        margin-right: 50px;
    }

#nossoCardapio {
    background-color: #D9D9D9;
    justify-content: center;
    align-content: center;
}

    #nossoCardapio div {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #nossoCardapio img {
        width: 100%;
    }

    #nossoCardapio h3 {
        font-size: 30px;
        margin-top: -20px;
        margin-bottom: 50px;
        display: flex;
        place-content: center;
    }

    #nossoCardapio ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-content: center;
        justify-content: center;
        list-style: none;
    }

    #nossoCardapio li {
        width: 26vh;
        height: 36vh;
        cursor: pointer;
    }

.bannerCardapio {
    width: 26vh;
    height: 34vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#nossoCardapio li p {
    font-size: 20px;
    color: #D9D9D9;
    background-color: #361F10;
    width: 100%;
    text-align: center;
}

#nossoCardapio li:hover .bannerCardapio {
    border: 10px solid #805734;
    border-bottom: none;
}

#nossoCardapio li:hover p {
    background-color: #805734;
}

#nossoCardapio li:hover .gatoEscondido {
    display: block;
    position: absolute;
    margin-top: -142px;
    margin-left: -14px;
    border: hidden;
    width: 200px;
}

.gatoEscondido {
    display: none;
}

#nossaPlaylist {
    background-color: #4E342E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

    #nossaPlaylist h1 {
        font-size: 48px;
        color: #F5F5F5;
        align-self: center;
    }

#playlistEPlayer {
    display: flex;
    flex-direction: row;
    align-items: anchor-center;
}

.playlist-box {
    background-color: #6D4C41;
    padding: 20px;
    border-radius: 16px;
    width: 50%;
    padding-inline: 30px;
    height: 80vh;
    padding-inline: 30px;
    margin-inline: 30px;
}

    .playlist-box h3 {
        text-align: center;
        background: black;
        padding: 6px;
        border-radius: 20px;
        color: #81C784;
    }
    
.playlist {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    overflow: auto;
    height: 80%;
}
    .playlist::-webkit-scrollbar {
        width: 8px;
    }

    .playlist::-webkit-scrollbar-track {
        background: none;
    }

    .playlist::-webkit-scrollbar-thumb {
        background: #533737;
        border-radius: 4px;
        border: 1px solid #F9B997;
    }

    .playlist li {
        background: #8D6E63;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

        .playlist li:hover {
            background: #5B4646;
            border: 2px solid #4C311F;
        }

    .playlist span {
        width: 100%;
        padding-left: 30px;
        color: #FFF8E1;
    }

#listaMusicaTocando {
    background: #5B4646;
    border: 2px solid #4C311F;
}

.imagemMusicaPlaylist {
    width: 50px;
}

.gifMusicaPlaylistTocando {
    width: 35px;
}

.player-box {
    text-align: center;
    width: 50%;
    align-content: center;
    padding-inline: 30px;
}

.player {
    background-color: #6D4C41;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.cover {
    width: 100%;
    border-radius: 16px;
}

.song-info {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFB74D;
}

.controls {
    margin: 10px 0;
}

    .controls button {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin: 0 10px;
        color: white;
    }

.controlesPlayer {
    width: 20px;
}

.controlesPlayerPrincipal {
    width: 25px
}

.progress-bar {
    width: 100%;
    margin-top: 10px;
}

#novidades {
    background-color: #533737;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    #novidades h2 {
        font-size: 48px;
        color: #D9D9D9;
    }

#sectionCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 18vw;
    height: 26vw;
    perspective: 1000px;
    margin: 20px;
    background: none;
    border: none;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}

.card-front {
    background-color: #6b4e3d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .card-front img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

.card-back {
    background-color: #805734;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardName {
    font-size: 3.2vh;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin: 0;
}

.cardPrice {
    font-size: 3vh;
    font-weight: bold;
    color: #EEEDED;
    margin: 0;
}

.cardShortDescription {
    font-size: 2vh;
    font-weight: bold;
    color: #F9B997;
    margin: 0;
}

.cardDescription {
    font-size: 2vh;
    color: #D7D6D6;
    height: 40%;
    overflow: auto;
    margin: 0;
}
    .cardDescription::-webkit-scrollbar {
        width: 8px;
    }

    .cardDescription::-webkit-scrollbar-track {
        background: none;
    }

    .cardDescription::-webkit-scrollbar-thumb {
        background: #533737;
        border-radius: 4px;
        border: 1px solid #F9B997;
    }

#contato {
    background-color: #805734;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

    #contato h2 {
        font-size: 48px;
        color: #D9D9D9;
    }

#sectionContato {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#enviarEmail {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
    align-self: center;
}

    #enviarEmail div {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #enviarEmail button {
        width: 12vw;
        height: 50px;
        color: #D9D9D9;
        background-color: #361F10;
        cursor: pointer;
        border-radius: 10px;
    }

.smallInput {
    width: 12vw;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
}

.largeInput {
    width: 12vw;
    height: 350px;
    border-radius: 10px;
    text-align: left;
    text-align: start;
    text-align-last: start;
}

#localizacao {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

    #localizacao img {
        width: 70%;
    }

    #localizacao span {
        font-size: 14px;
        color: #D9D9D9;
        text-align: center;
    }
