.product-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.main-image {
    width: 55%;
    -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
    mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

.product-info {
    width: 45%;
}

    .product-info hr {
        width: 90%;
        height: 3px;
        background-color: #471B00;
        opacity: 1;
        justify-self: center;
    }

    .avaliacao {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;
    }

.estrelaAvaliacao {
    width: 2vw;
}
.nameProduct {
    color: #FFB568;
    font-size: 40px;
}

.product-info span {
    margin: 10px 0 5px;
}

.subtitle {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
    color: #CC9A66;
}

.priceLike {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.priceArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.subPrice {
    font-size: 1.2em;
    color: #D2B482;
    margin-right: 10px;
    text-decoration: line-through;
}

.price {
    font-size: 1.8em;
    font-weight: bold;
    color: #FFB568;
    margin-bottom: 10px;
}

.coracaoLike {
    width: 40px;
}

.modificarCarrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.modificarQuantidadeProduto {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    justify-content: space-around;
    border: 2px solid #471B00;
    border-radius: 8px;
}

    .modificarQuantidadeProduto span {
        font-size: 23px;
        margin: 0px;
    }

    .modificarQuantidadeProduto button {
        font-size: 23px;
        margin: 0px;
        border: none;
        background-color: transparent;
    }

    #numberOfProductCart {
        color: aliceblue;
    }

.add-cart {
    background-color: #FFB568;
    color: #282727;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
}

.moreImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

    .moreImages button {
        font-size: 30px;
        margin: 0px;
        border: none;
        background-color: transparent;
        color: #FFB568;
    }

.imageExample {
    width: 18%;
    border-radius: 8px;
    border: 2px solid #471B00;
    cursor: pointer;
}

#imageSelected {
    opacity: 0.8;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-around;
}

    .description img {
        width: 20vw;
        height: 20vw;
        border-radius: 20px;
    }

    .description div {
        width:  70%;
    }

    .description h3 {
        color: aliceblue;
        text-decoration: underline;
    }

    .description p {
        color: #D2B482;
    }

.divPatasGif {
    width: 100%;
}

.divPatasGif img {
    width: 100%;
}

.relatedProductsSection {
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    .relatedProductsSection h3 {
        font-size: 46px;
        color: #FFB568;
    }

.products {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.avaliationsSection {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: end;
}

    .avaliationsSection h3 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        place-content: center;
        color: #FFB568;
    }

.divPrincipal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #FFDEAE;
    padding-bottom: 80px;
}

    .divPrincipal hr {
        width: 90%;
        height: 3px;
        background-color: #471B00;
        opacity: 1;
        justify-self: center;
    }

.gatoBrilhandoAvaliacao {
    margin-top: -8vw;
    margin-right: -50vw;
    height: 10vw;
    position: absolute;
}

.contaNaoLogada {
    margin-top: 50px;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFDEAE;
}

    .contaNaoLogada img {
        height: 18vh;
    }

    .contaNaoLogada p {
        font-size: 2.5vw;
        font-weight: bold;
        color: black;
    }

.principal {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .principal aside {
        width: 30%;
    }

.review {
    width: 60%;
    height: fit-content;
}

.ratingSummary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}


.productRate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: #5a3b24;
}
.ratingNumber {
    font-size: 48px;
}

.stars img {
    width: 10%;
}

.bars {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.barDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

    .barDiv span {
        font-size: 16px;
        color: #5a3b24;
    }

.bar {
    width: 85%;
    background: #d6b89f;
    height: 8px;
    border-radius: 4px;
    margin: 6px 0;
    position: relative;
}

.barFill {
    background: #5a3b24;
    height: 100%;
    border-radius: 4px;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

    .filter span {
        width: 100%;
        text-align: center;
        color: black;
        font-size: 14px;
        font-weight: bold;
    }

    .filter button {
        background: #5a3b24;
        color: #fff;
        font-weight: 500;
        border: none;
        padding: 6px 12px;
        border-radius: 8px;
        cursor: pointer;
    }

        .filter button:hover {
            background-color: #72340E;
            border: solid 3px #471B00;
            color: #f4a460;
            transform-box: border-box;
        }

.sessaoAvaliacoesUsuarios {
    width: 68%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.avaliacaoUsuario {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.avaliacaoUsuarioIcon {
    width: 50px;
    height: 50px;
    border: 3px solid #5a3b24;
    border-radius: 100%;
}

.avaliacaoUsuarioInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avaliacaoUsuarioNome {
    color: black;
    font-weight: bold;
}

.avaliacaoUsuarioTopo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.avaliacaoUsuarioEstrelas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

    .avaliacaoUsuarioEstrelas img {
        width: 20px;
        height: 20px;
    }

.avaliacaoUsuarioData {
    font-weight: bold;
}

.avaliacaoUsuarioMensagem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #bf9263;
    border-radius: 15px;
    padding: 15px;
}

    .avaliacaoUsuarioMensagem h3 {
        justify-content: left;
        font-size: 18px;
        font-weight: bold;
        color: #471b00;
        margin: 0px;
    }

    .avaliacaoUsuarioMensagem p {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 0px;
    }

.avaliacaoUsuarioMidias {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}

    .avaliacaoUsuarioMidias img {
        height: 80px;
        border-radius: 10px;
        border: 3px solid #471b00;
        cursor: pointer;
    }

.pagination {
    text-align: center;
    margin-top: 20px;
}

    .pagination span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #471b00;
        border-radius: 50%;
        margin: 0 4px;
        opacity: 0.4;
        cursor: pointer;
    }

        .pagination span.active {
            opacity: 1;
        }