img {
    object-fit: cover;
}

html {
  font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

body {
    background: url("../images/download.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: #471B00;
}

footer {
    padding: 25px;
    background-color: #471B00;
    color: white;
}

main {
    background-color: #805734;
}

.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logoTop {
    max-width: 100px;
}

.searchDiv {
    width: 42%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

    .searchDiv input {
        width: 100%;
        height: 40px;
        border: solid 4px #C08C55;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
    }

    .searchDiv button {
        height: 40px;
        width: 55px;
        background-color: #C08C55;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .searchDiv button img {
        height: 30px;
    }

.functionsNav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    justify-content: space-evenly;
}

.accountLogin {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.accountLogin span{
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

    .accountLogin a {
        font-size: 16px;
        font-weight: bolder;
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .accountLogin img {
        height: 50px;
        border-radius: 100%;
        border: 2px solid white;
    }

.productsInCart {
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    color: #471B00;
    background-color: #CC9A66;
    border-radius: 50px;
    padding: 2px;
    padding-inline: 8px;
    margin-left: -1vw;
    margin-top: -1vh;
}

.subNavBar {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #471B00;
}

.navCategory {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.navCategoryLink {
    color: #CC9A66;
    font-size: 2vh;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

    .navCategoryLink:hover {
        color: #CC9A66;
        text-decoration: none;
    }

    .navCategoryLink::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #CC9A66;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
    }

    .navCategoryLink:hover::after {
        transform: scaleX(1);
        color: #CC9A66;
    }

.navSubCategoryBox {
    list-style: none;
    padding-inline: 10px;
    background-color: #D2B482;
    border-radius: 8px;
    position: absolute;
    margin-bottom: -14vh;
    margin-left: -1vh;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s ease;
    display: inline-block;
}

.navSubCategoryLink {
    color: #471B00;
    font-weight: bold;
}

    .navSubCategoryLink:hover {
        background: none;
    }

.navSubCategoryBox hr {
    width: 100%;
    height: 1px;
    background-color: #471B00;
    opacity: 0.5;
    margin: 0;
}

.navSubCategoryHover:hover .navSubCategoryBox {
    display: block;
    transform: scaleX(1);
}

#logo {
    max-width: 150px;
}

.centralizer {
    display: flex;
    align-items: center;
}

.menu-items img {
    max-width: 100px;
}

.validation-summary-errors ul {
    color: red;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.add-edit-form img {
    max-width: 250px;
    margin: 25px 0;
}

.item-preview {
    max-width: 250px;
}

.dashboard .card {
    margin: 25px 0;
}

.table {
    margin-bottom: 50px;
}

h2 {
    font-size: 1.25em;
    color: #198754;
}

footer {
    text-align: center;
}

.footer-pic img {
    max-width: 50%;
}

/*@media (min-width: 1920px) {
    .container {
        max-width: 1600px;
    }
}*/

textarea.form-control {
    min-height: 150px;
}

.field-validation-error {
    color: red;
}

table img {
    max-width: 200px;
}

form img {
    max-width: 350px;
}
/* This is a version check. */