@page
@model CafeteriaKwai.Pages.Identity.Pages.Account.AccountInfoModel
@{
	ViewData["Title"] = "Account Info";
}

<link rel="stylesheet" href="~/css/accountInfo.css" asp-append-version="true" />

<div class="header">
	<div class="welcomeMensage">
		<hr />
		<img src="~/images/userPhoto/ZoeCiberpop.jpg" />
		<span>Bem-vindo Richard Alves !!</span>
	</div>
	<img src="~/images/banner/bannerAccount.png" />
</div>
<div class="divPrincipal">
	<aside class="sidebar">
		<ul class="menu">
			<li class="titleMenu"><img src="~/images/interface/iconMenu.png" />MENU</li>
			<li class="titleSection"><img src="~/images/interface/profileAccountImage.png" /> Perfil</li>
			<li class="titleSection active"><img src="~/images/interface/iconList.png" /> Pedidos</li>
			<li class="titleSection"><img src="~/images/interface/iconHeart.png" /> Favoritos</li>
			<li class="titleSection"><img src="~/images/interface/iconStar.png" /> Avaliações</li>
			<li class="titleSection"><img src="~/images/interface/iconQuestionMark.png" /> Informações</li>
		</ul>
	</aside>

	<div class="content">
		<section class="profile" style="display:none">
			<div class="principalUsuarioInfo">
				<div class="divImagemUsuario">
					<img src="~/images/userPhoto/ZoeCiberpop.jpg" alt="Imagem de usuário">
					<span>Imagem de usuário</span>
				</div>
				<div class="divNomeUsuario">
					<label class="spanLogin">Nome de Usuario</label>
					<input class="inputLogin" disabled value="Richard Alves">
				</div>
			</div>

			<hr>

			<div class="divInformacoes">
				<div class="divContato">
					<div class="divInput">
						<label class="spanLogin">E-mail</label>
						<input class="inputLogin" type="text" disabled value="richard@gmail.com">
					</div>
					<div class="divInput">
						<label class="spanLogin">Telefone</label>
						<input class="inputLogin" type="text" disabled value="(00) 00000-0000">
					</div>
				</div>
				<div class="divEndereco">
					<div class="divInput">
						<label class="spanLogin">Endereço (CEP)</label>
						<input class="inputLogin" type="text" disabled value="00000-000">
					</div>
					<div class="divRua">
						<div class="divInput rua">
							<label class="spanLogin">Rua</label>
							<input class="inputLogin" type="text" disabled value="Nome da rua" ">
						</div>
						<div class="divInput numero">
							<label class="spanLogin">Número</label>
							<input class="inputLogin" type="text" disabled value="123">
						</div>
					</div>
				</div>
			</div>

			<button class="botaoEdit">EDITAR</button>
		</section>

		<section class="order">
			<div class="topSection">
				<img src="/images/interface/iconList.png" alt="Icone lista" />
				<span>Seus Pedidos</span>
			</div>

			<hr>

			<table class="tabelaPedidos">
				<thead>
					<tr>
						<th>ID</th>
						<th>DATA</th>
						<th>TOTAL</th>
						<th>STATUS</th>
						<th>VER MAIS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
										<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
				</tbody>
			</table>
		</section>
	</div>

</div>