@page
@model CafeteriaKwai.Pages.Identity.Pages.Account.AccountInfoModel
@{
	ViewData["Title"] = "Account Info";
}

<link rel="stylesheet" href="~/css/accountInfo.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/cardProduct.css" asp-append-version="true" />

<div class="header">
	<div class="welcomeMensage">
		<hr />
		<img src="~/images/userPhoto/ZoeCiberpop.jpg" />
		<span>Bem-vindo Richard Alves !!</span>
	</div>
	<img src="~/images/banner/bannerAccount.png" />
</div>
<div class="divPrincipal">
	<aside class="sidebar">
		<ul class="menu">
			<li class="titleMenu"><img src="~/images/interface/iconMenu.png" />MENU</li>
			<li onclick="openSection(this)" id="profile" class="titleSection active"><img src="~/images/interface/profileAccountImage.png" /> Perfil</li>
			<li onclick="openSection(this)" id="order" class="titleSection"><img src="~/images/interface/iconList.png" /> Pedidos</li>
			<li onclick="openSection(this)" id="favorite" class="titleSection"><img src="~/images/interface/iconHeart.png" /> Favoritos</li>
			<li onclick="openSection(this)" id="avaliation" class="titleSection"><img src="~/images/interface/iconStar.png" /> Avaliações</li>
			<li onclick="openSection(this)" id="information" class="titleSection"><img src="~/images/interface/iconQuestionMark.png" /> Informações</li>
		</ul>
	</aside>

	<div class="content">
		<section class="profile" style="display:flex">
			<div class="principalUsuarioInfo">
				<div class="divImagemUsuario">
					<img src="~/images/userPhoto/ZoeCiberpop.jpg" alt="Imagem de usuário">
					<span>Imagem de usuário</span>
				</div>
				<div class="divNomeUsuario">
					<label class="spanLogin">Nome de Usuario</label>
					<input class="inputLogin" disabled value="Richard Alves">
				</div>
			</div>

			<hr>

			<div class="divInformacoes">
				<div class="divContato">
					<div class="divInput">
						<label class="spanLogin">E-mail</label>
						<input class="inputLogin" type="text" disabled value="richard@gmail.com">
					</div>
					<div class="divInput">
						<label class="spanLogin">Telefone</label>
						<input class="inputLogin" type="text" disabled value="(00) 00000-0000">
					</div>
				</div>
				<div class="divEndereco">
					<div class="divInput">
						<label class="spanLogin">Endereço (CEP)</label>
						<input class="inputLogin" type="text" disabled value="00000-000">
					</div>
					<div class="divRua">
						<div class="divInput rua">
							<label class="spanLogin">Rua</label>
							<input class="inputLogin" type="text" disabled value="Nome da rua" ">
						</div>
						<div class="divInput numero">
							<label class="spanLogin">Número</label>
							<input class="inputLogin" type="text" disabled value="123">
						</div>
					</div>
				</div>
			</div>

			<button class="botaoEdit">EDITAR</button>
		</section>

		<section class="order" style="display:none">
			<div class="topSection">
				<img src="/images/interface/iconList.png" alt="Icone lista" />
				<span>Seus Pedidos</span>
			</div>

			<hr>

			<table class="tabelaPedidos">
				<thead>
					<tr>
						<th>ID</th>
						<th>DATA</th>
						<th>TOTAL</th>
						<th>STATUS</th>
						<th>VER MAIS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
					<tr>
						<th>7253gwd4</th>
						<th>12/12/12 12:12</th>
						<th>R$ 25,94</th>
						<th>FINALIZADO</th>
						<th><img src="~/images/iconsAction/iconToOtherPage.png" alt="To other page" /></th>
					</tr>
				</tbody>
			</table>
		</section>

		<section class="favorite" style="display:none">
			<div class="topSection">
				<img src="/images/interface/iconHeart.png" alt="Icone coração" />
				<span>Seus Produtos Favoritos</span>
			</div>

			<hr>

			<div class="products">
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
				<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
			</div>
		</section>

		<section class="avaliation" style="display:none">
			<div class="topSection">
				<img src="/images/interface/iconStar.png" alt="Icone estrela" />
				<span>Suas Avaliações</span>
			</div>

			<hr>

			<div class="avaliations">
				<div class="divAvaliation">
					<div class="avaliationTop">
						<h1>PUDIM CREMOSO KATTINY</h1>
						<img src="/images/iconsAction/iconToOtherPage.png" alt="Alternate Text" />
					</div>
					<div class="stars">
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaVazia.png" />
					</div>
					<h2>Simplesmente maravilhoso!</h2>
					<span>O pudim chegou super bem embalado e fresquinho! A textura é perfeita: cremosa, sem furinhos (do jeito que eu gosto) e o caramelo tem um sabor incrível, levemente amargo no ponto certo. Doce na medida, sem ser enjoativo. Deu pra ver que é feito com ingredientes de qualidade. Com certeza vou pedir de novo!</span>
				</div>
				<div class="divAvaliation">
					<div class="avaliationTop">
						<h1>PUDIM CREMOSO KATTINY</h1>
						<img src="/images/iconsAction/iconToOtherPage.png" alt="Alternate Text" />
					</div>
					<div class="stars">
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaVazia.png" />
					</div>
					<h2>Simplesmente maravilhoso!</h2>
					<span>O pudim chegou super bem embalado e fresquinho! A textura é perfeita: cremosa, sem furinhos (do jeito que eu gosto) e o caramelo tem um sabor incrível, levemente amargo no ponto certo. Doce na medida, sem ser enjoativo. Deu pra ver que é feito com ingredientes de qualidade. Com certeza vou pedir de novo!</span>
				</div>
				<div class="divAvaliation">
					<div class="avaliationTop">
						<h1>PUDIM CREMOSO KATTINY</h1>
						<img src="/images/iconsAction/iconToOtherPage.png" alt="Alternate Text" />
					</div>
					<div class="stars">
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaCheia.png" />
						<img src="/images/iconsAction/estrelaVazia.png" />
					</div>
					<h2>Simplesmente maravilhoso!</h2>
					<span>O pudim chegou super bem embalado e fresquinho! A textura é perfeita: cremosa, sem furinhos (do jeito que eu gosto) e o caramelo tem um sabor incrível, levemente amargo no ponto certo. Doce na medida, sem ser enjoativo. Deu pra ver que é feito com ingredientes de qualidade. Com certeza vou pedir de novo!</span>
				</div>
			</div>
		</section>

		<section class="information" style="display:none">
			<div class="topSection">
				<img src="/images/interface/iconQuestionMark.png" alt="Icone interrogação" />
				<span>Informações da Plataforma</span>
			</div>

			<hr>

			<div class="informations">
				<div class="divInformation">
					<div class="topInformation">
						<img src="/images/interface/iconCatFootprint.png" />
						<h2>Sua Conta e suas possibilidades</h2>
					</div>
					<ul>
						<li>Realizar pedidos com mais praticidade, acompanhando o status da entrega em tempo real.</li>
						<li>Favoritar cafés e produtos, criando sua lista pessoal de preferidos para facilitar futuras compras.</li>
						<li>Visualizar o histórico de compras, permitindo repetir pedidos anteriores com um clique.</li>
						<li>Deixar avaliações e comentários sobre os produtos adquiridos, ajudando outros clientes e recebendo recomendações personalizadas no futuro.</li>
						<li>Gerenciar seus dados de forma segura, com total controle sobre suas informações pessoais e preferências.</li>
					</ul>
				</div>
				<div class="divInformation">
					<div class="topInformation">
						<img src="/images/interface/iconCatFootprint.png" />
						<h2>Recursos em Desenvolvimento</h2>
					</div>
					<ul>
						<li>Assinatura de Café: escolha seu café favorito e receba automaticamente todo mês, com desconto exclusivo para assinantes.</li>
						<li>Aplicativo Mobile: uma versão dedicada para smartphones, com notificações, rastreio de pedidos e compra facilitada.</li>
						<li>Alertas de Reposição: notificações quando um café favorito voltar ao estoque.</li>
						<li>Deixar avaliações e comentrios sobre os produtos adquiridos, ajudando outros clientes e recebendo recomendações personalizadas no futuro.</li>
					</ul>
				</div>
				<div class="divInformation">
					<div class="topInformation">
						<img src="/images/interface/iconCatFootprint.png" />
						<h2>Privacidade e Segurança</h2>
					</div>
						<span>Todos os dados são armazenados com segurança, seguindo as diretrizes da LGPD (Lei Geral de Proteção de Dados). Não compartilhamos suas informações com terceiros sem seu consentimento.</span>
				</div>
				<div class="divInformation">
					<div class="topInformation">
						<img src="/images/interface/iconCatFootprint.png" />
						<h2>Tem alguma dúvida ou sugestão?</h2>
					</div>
						<span>Entre em contato conosco pelo Help Ticket ou envie um e-mail para suporte@cafekwai.com.br</span>
				</div>
			</div>
		</section>
	</div>
</div>
<script src="~/js/accountInfo.js" asp-append-version="true"></script>