@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="divPricipal">
	<div class="divImageLogin">
		<img src="~/images/coffeShopBackground1.jpg" class="imageLogin" />
		<div class="divImageLoginCenter">
			<img src="~/images/logoCafeKwaiBrancoReduzido.png" />
			<span>Entre em sua conta para aproveitar nossas ofertas!</span>
		</div>
	</div>
	<section>
		<span class="spanLoginTop">Log In</span>
		<hr />
		<form id="account" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="divInput">
				<label asp-for="Input.Name" class="spanLogin">Username</label>
				<input asp-for="Input.Name" class="inputLogin" autocomplete="username" aria-required="true" placeholder="My name" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			<div class="divInput">
				<label asp-for="Input.Password" class="spanLogin">SENHA</label>
				<input asp-for="Input.Password" class="inputLogin" autocomplete="current-password" aria-required="true" placeholder="password" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
				<p class="forgotPasswordAlignRight">
					<a class="forgotPassword" id="forgot-password" asp-page="./ForgotPassword">ESQUECI A SENHA</a>
				</p>
			</div>
			<div class="checkbox mb-3">
				<label asp-for="Input.RememberMe" class="form-label rememberMe">
					<input class="form-check-input" asp-for="Input.RememberMe" />
					@Html.DisplayNameFor(m => m.Input.RememberMe)
				</label>
			</div>
				<button id="login-submit" type="submit" class="botaoLogin">LOG IN</button>
			<div class="divNewAccount">
				<p>
					<p class="dontHaveAccount">NÃO TEM UMA CONTA?</p>
					<a class="newAccount" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">CADASTRAR UMA CONTA</a>
				</p>
				@* <p> *@
				@* 	<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
				@* </p> *@
			</div>
		</form>
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
