@page
@model CafeComSeuTioAdmin.Pages.Products.ViewAllProductsModel
@{
	<h1>Tabela de produtos</h1>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<td>Nome</td>
				<td>Pequena Descrição</td>
				<td>Descrição</td>
				<td>Preço</td>
				<td>Categoria</td>
			</tr>
		</thead>
	</table>
}

