@page "/ProductDetailsClient/{id:int}"
@model CafeteriaKwai.Pages.ProductDetailsClientModel
@{
}
<link rel="stylesheet" href="~/css/productDetailsClient.css" asp-append-version="true" />
<section id="Sobre">
	<img src="~/images/menu/@Model.selectProduct.ImageFileName" />
	<div>
		<img src="~/images/logoNomeCafeKwai.png" />
		<p> Um cantinho aconchegante onde o aroma do café recém-passado se mistura com o charme felino. Inspirada no universo dos gatos — independentes, curiosos e carinhosos na medida certa — nossa cafeteria foi criada para ser um refúgio tranquilo no seu dia, como o colo quentinho que um gatinho procura ao entardecer.</p>
	</div>
</section>